body {
    background: #FFFFFF;
  }
#landing {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 40px;
  color: #61c0bf;
}
.nav {
  background-color: #ffcad4;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
.nav a {
  font-family: "Tahoma";
  color: #FFFFFF;
  float: right;
  text-align: center;
  text-decoration: none;
  padding: 15px;
}
.nav a:hover {
  background-color: #f4acb7;
}