#homepage {
  background: url('./pexels-photo-255379.jpeg');
  z-index: -1;
}
#landing {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 40px;
  color: #FFFFFF;
}
.nav {
  background-color: #ffcad4;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
.nav a {
  font-family: "Tahoma";
  color: #FFFFFF;
  float: right;
  text-align: center;
  text-decoration: none;
  padding: 15px;
}
.nav a:hover {
  background-color: #f4acb7;
}
.nav img {
  float: right;
  padding: 5px;
}
.resume {
  margin-top: 100px;
  font-family: "Helvetica Neue";
}
.resume h1 {
  margin-top: 50px;
  margin-bottom: 0px;
}
.resume h2 {
  margin-bottom: 0px;
}
.resume h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #61c0bf;
}
.resume h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.resume hr {
  border-top: 2px dashed #61c0bf;
}
.skills span {
  background-color: #f4acb7;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  border-radius: 25px;
  display: inline-block;
  font-weight: bold;
}